{
  "openapi": "3.0.1",
  "info": {
    "title": "Text-to-Speech",
    "description": "API for converting text to speech using FSMSTextToSpeech.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://converter.fineshare.com",
      "description": "Voices"
    }
  ],
  "paths": {
    "/api/fsmstexttospeech": {
      "post": {
        "tags": [
          "Text-to-Speech"
        ],
        "summary": "Converts text to speech using specified parameters.",
        "operationId": "FSMSTextToSpeech",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TTSReqData"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bearer token for authentication."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully processed the text-to-speech request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Text-to-speech processing successful."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TTSReqData": {
        "type": "object",
        "properties": {
          "Engine": {
            "type": "string",
			"enum": ["v1", "v5", "v7"],
            "description": "The engine to use for text-to-speech."
          },
          "AppId": {
            "type": "string",
			"enum": ["107"],
            "description": "The application identifier."
          },
          "FeatureId": {
            "type": "string",
			"enum": ["22"],
            "description": "The feature identifier."
          },
          "speech": {
            "type": "string",
            "description": "The input text to convert to speech."
          },
          "voice": {
            "type": "string",
            "description": "The voice configuration."
          },
          "platform": {
            "type": "string",
			"enum": ["web","win","mac","phone"],
            "description": "The platform for which the speech is generated."
          },
          "Parameter": {
            "$ref": "#/components/schemas/TextToSpeechParameter"
          }
        }
      },
      "TextToSpeechParameter": {
        "type": "object",
        "properties": {
          "Speed": {
            "type": "number",
            "description": "Speed of the speech.",
			"example": "1.0"
          },
          "LanguageCode": {
            "type": "string",
            "description": "Input language code."
          },
          "Pitch": {
            "type": "number",
            "description": "Pitch adjustment for the voice.",
			"example": "0.0"
          }
        }
      }
    }
  }
}
